xslt/XML/lab/module3/lab3-1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string" />
                <xs:element name="sername" type="xs:string" />
                <xs:element name="age" type="xs:integer" />
                <xs:element name="birthday" type="xs:date" />
            </xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
