xslt/XML/demo/mod3/demo3-2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Описание сложных типов данных -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="persons">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="client" type="PersonType" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="clerk" type="PersonType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


		<xs:complexType name="PersonType">
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
				<xs:element name="birthdate" type="xs:date" />
			</xs:sequence>
		</xs:complexType>
</xs:schema>		